<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wegather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body class="index-body">
    <!-- logo部分的修改 -->
    <div class="logo">
        Weg<a href="{{ url_for('index') }}" class="logo-a">a</a>ther
    </div>
    
    <div class="floating-bubble">
        <div class="bubble-content">
            <h2>AI 问答🗣️</h2>
            <p>一起来聊聊吧</p>
            <button onclick="window.location.href='{{ url_for('qa') }}'" class="bubble-btn">开始对话</button>
        </div>
    </div>
    <div class="floating-bubble-dia">
        <div class="bubble-content-dia">
            <h2>心情日记📓</h2>
            <p>写下你的心情</p>
            <button onclick="window.location.href='{{ url_for('mental_diary') }}'" class="bubble-btn-dia">写日记</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>